
// Body
//$body-bg: #000;

// Typography
$font-family-opensans: 'Open Sans', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #000000;
$darkGrey: #313131;
$mediumGrey: #545454;
$Grey: #95989A;
$lightGrey: #B1AEAE;
$white: #ffffff;
$irisBlue: #00BAB3;
$green: #32EFAA;
$teal: #36DBBA;
$cyan: #55D6DB;
$background-color: #ffffff;

//Style

$navColor:#F3F3F3;
$linkColor:#00BAB3;
$gradient: linear-gradient(#55D6DB, #36DBBA);
$navlinkColor:#707070;
// background-image
$lemonGradient: linear-gradient(#55D6DB, #36DBBA);