/* Colors */
$black: #000000;
$darkGrey: #313131;
$mediumGrey: #545454;
$Grey: #95989A;
$lightGrey: #B1AEAE;
$lighterGrey: #e9e9e9;
$white: #ffffff;
$irisBlue: #00BAB3;
$green: #32EFAA;
$teal: #36DBBA;
$cyan: #55D6DB;
$background-color: #ffffff;

/* Style */
$navColor:#F3F3F3;
$linkColor:#00BAB3;
$gradient: linear-gradient(#55D6DB, #36DBBA);
$navlinkColor:#707070;

/*  background-image */
$lemonGradient: linear-gradient(#55D6DB, #36DBBA);